@font-face {
    font-family: 'Giraffrey';
    src: url('./fonts/Giraffey.otf') format('opentype');
}

@font-face {
    font-family: 'Adlanta';
    src: url('./fonts/Adlanta.otf') format('opentype');
}

@font-face {
    font-family: 'OstrichSans-Medium';
    src: url('./fonts/OstrichSans-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'OstrichSansInline-Regular';
    src: url('./fonts/OstrichSansInline-Regular.otf') format('opentype');
}

body {
    background-image: url('./images/1276368.jpg');
    background-size: 137%;
    background-position: fixed;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
}


.all_elements{
    margin-top: 5%;
}

.main_title{
    font-family: 'Giraffey';
    font-size: 180px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 11px;
}

.subtitles a{
    transition: transform 0.4s ease;
    justify-content: center; /* Centre horizontalement */
    align-items: center;
}

.subtitles a:hover{
    transform: scale(1.1);
    display: inline-block;
}

.tp1{
    text-decoration: none;
    border-bottom: 2px solid ;
    margin-right: 45px;
    color: purple;
    text-transform: uppercase;
    font-family: 'OstrichSans-Medium';
    font-size: 40px;
    letter-spacing: 2px;
    transition: transform 0.4s ease;
    cursor: pointer;
    padding: 5px;
    
}



.tp1:hover{
    background-color: rgb(23, 0, 23);
    transform: scale(1.2);
    color: white;
}

.mission1{
    color: deeppink;
    border-bottom: 2px solid ;
    margin-right: 45px;
    text-transform: uppercase;
    font-family: 'OstrichSans-Medium';
    font-size: 40px;
    letter-spacing: 2px;
    transition: transform 0.4s ease;
    cursor: pointer;
    padding: 5px;
}

.mission1:hover{
    background-color: rgb(163, 1, 87);
    color: white;
}

.tp2{
    color: rgb(170, 255, 0);
    border-bottom: 2px solid ;
    margin-right: 45px;
    text-transform: uppercase;
    font-family: 'OstrichSans-Medium';
    font-size: 40px;
    letter-spacing: 2px;
    transition: transform 0.4s ease;
    cursor: pointer;
    padding: 5px;
}

.tp2:hover{
    background-color: rgb(94, 141, 0);
    color: white;
}

.mission2{
    color: orange;
    border-bottom: 2px solid ;
    margin-right: 45px;
    text-transform: uppercase;
    font-family: 'OstrichSans-Medium';
    font-size: 40px;
    letter-spacing: 2px;
    transition: transform 0.4s ease;
    cursor: pointer;
    padding: 5px;
}

.mission2:hover{
    background-color: rgb(161, 105, 2);
    color: white;
}

.tp3 {
    color: rgb(0, 255, 213);
    border-bottom: 2px solid ;
    margin-right: 45px;
    text-transform: uppercase;
    font-family: 'OstrichSans-Medium';
    font-size: 40px;
    letter-spacing: 2px;
    transition: transform 0.4s ease;
    cursor: pointer;
    padding: 5px;
}

.tp3:hover {
    background-color: rgb(0, 150, 125);
    color: white;
}

.mission3 {
    color: rgb(0, 191, 255);
    border-bottom: 2px solid ;
    text-transform: uppercase;
    font-family: 'OstrichSans-Medium';
    font-size: 40px;
    letter-spacing: 2px;
    transition: transform 0.4s ease;
    cursor: pointer;
    padding: 5px;
}

.mission3:hover {
    background-color: #16293b;
    color: white;
}