@font-face {
    font-family: 'Azonix';
    src: url('./fonts/Azonix.otf') format('opentype');
}

@font-face {
    font-family: 'Arial';
    src: url('./fonts/arial.ttf') format('truetype');
}

@font-face {
    font-family: 'OstrichSans-Medium';
    src: url('./fonts/OstrichSans-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'OstrichSansInline-Regular';
    src: url('./fonts/OstrichSansInline-Regular.otf') format('opentype');
}

:root {
    --main-color: #5c34ad;
    --secondary-color: #ffcc00;
}


body {
    background-color: black; /* Chemin de l'image */
    background-size: cover; /* Couvre tout l'écran */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition */
    background-attachment: fixed; /* Effet de parallaxe (image fixe) */
}

.all_elements{
    margin-top: 5%;
    max-width: 1400px;
}


.main_title{
    font-family: 'Azonix';
    font-size: 100px;
    text-transform: uppercase;
    color: #5c34ad;
    letter-spacing: 11px;
}

.subtitles {
    display: flex;
    justify-content: center;
}

.tp1{
    text-decoration: none;
    border-bottom: 2px solid ;
    margin-right: 45px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: 'OstrichSans-Medium';
    font-size: 40px;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 5px;
    
}

.mission1{
    color: rgb(0, 0, 0);
    border-bottom: 2px solid ;
    margin-right: 45px;
    text-transform: uppercase;
    font-family: 'OstrichSans-Medium';
    font-size: 40px;
    letter-spacing: 2px;
    transition: transform 0.4s ease;
    cursor: pointer;
    padding: 5px;
}

.mission1:hover{
    background-color: rgb(23, 0, 23);
    color: white;
}

.tp2{
    color: rgb(0, 0, 0);
    border-bottom: 2px solid ;
    margin-right: 45px;
    text-transform: uppercase;
    font-family: 'OstrichSans-Medium';
    font-size: 40px;
    letter-spacing: 2px;
    transition: transform 0.4s ease;
    cursor: pointer;
    padding: 5px;
}

.tp2:hover{
    background-color: rgb(23, 0, 23);
    color: white;
}

.mission2{
    color: rgb(0, 0, 0);
    border-bottom: 2px solid ;
    margin-right: 45px;
    text-transform: uppercase;
    font-family: 'OstrichSans-Medium';
    font-size: 40px;
    letter-spacing: 2px;
    transition: transform 0.4s ease;
    cursor: pointer;
    padding: 5px;
}

.mission2:hover{
    background-color: rgb(23, 0, 23);
    color: white;
}

.tp3 {
    color: rgb(0, 0, 0);
    border-bottom: 2px solid ;
    margin-right: 45px;
    text-transform: uppercase;
    font-family: 'OstrichSans-Medium';
    font-size: 40px;
    letter-spacing: 2px;
    padding-left: 15px;
    transition: transform 0.4s ease;
    cursor: pointer;
    padding: 5px;
}

.tp3:hover {
    background-color: rgb(23, 0, 23);
    color: white;
}

.mission3 {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 5px;
    margin: 30px;
    margin-bottom: 40px;
}


.block-back {
    min-width: 250px;
    box-shadow: 0px 0px 10px var(--main-color);
    width: 380px;
    height: 280px;
    background-color: #080808a2;
    margin-right: 40px;
    margin-bottom: 40px;
    border: solid rgba(14, 13, 13, 0.959) 2px;
    justify-content: center;
    align-content: center;
    border-radius: 7px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.button_access:hover {
    color: white;
    cursor: pointer;
    transform: scale(1.09);
}

img {
    border-radius: 190px;
    width: 100px;
    height: 100px;
    margin-left: 2.5%;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

img:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.button_access {
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    color: white;
    background-color: var(--main-color);
    font-family: 'OstrichSans-Medium';
    border-radius: 10px;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    width: 20%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    width: 80%;
    font-size: 17px;
    font-family: 'Arial';
   font-weight: bold;
    color: rgb(94, 94, 94);
   
    text-align: justify;
}

h2 {
    font-family: 'Arial';
    font-size: 25px;
    color: white;
   
    width: 100%;
}