@font-face {
    font-family: 'Azonix';
    src: url('./fonts/Azonix.otf') format('opentype');
}

@font-face {
    font-family: 'Arial';
    src: url('./fonts/arial.ttf') format('truetype');
}

@font-face {
    font-family: 'OstrichSans-Medium';
    src: url('./fonts/OstrichSans-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'OstrichSansInline-Regular';
    src: url('./fonts/OstrichSansInline-Regular.otf') format('opentype');
}

body {
    background-image: url("images/back.jpg"); /* Chemin de l'image */
    background-size: cover; /* Couvre tout l'écran */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition */
    background-attachment: fixed; /* Effet de parallaxe (image fixe) */
}

a{
    text-decoration: none;
}


.all_elements{
    margin-top: 5%;
    max-width: 1400px;
}

.main_title{
    font-family: 'Azonix';
    font-size: 100px;
    text-transform: uppercase;
    color: #5c34ad;
    letter-spacing: 11px;
}

.subtitles {
    display: flex;
}

.tp1{
    text-decoration: none;
    border-bottom: 2px solid ;
    margin-right: 45px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: 'OstrichSans-Medium';
    font-size: 40px;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 5px;
    
}

.mission1{
    color: rgb(0, 0, 0);
    border-bottom: 2px solid ;
    margin-right: 45px;
    text-transform: uppercase;
    font-family: 'OstrichSans-Medium';
    font-size: 40px;
    letter-spacing: 2px;
    transition: transform 0.4s ease;
    cursor: pointer;
    padding: 5px;
}

.mission1:hover{
    background-color: rgb(23, 0, 23);
    color: white;
}

.tp2{
    color: rgb(0, 0, 0);
    border-bottom: 2px solid ;
    margin-right: 45px;
    text-transform: uppercase;
    font-family: 'OstrichSans-Medium';
    font-size: 40px;
    letter-spacing: 2px;
    transition: transform 0.4s ease;
    cursor: pointer;
    padding: 5px;
}

.tp2:hover{
    background-color: rgb(23, 0, 23);
    color: white;
}

.mission2{
    color: rgb(0, 0, 0);
    border-bottom: 2px solid ;
    margin-right: 45px;
    text-transform: uppercase;
    font-family: 'OstrichSans-Medium';
    font-size: 40px;
    letter-spacing: 2px;
    transition: transform 0.4s ease;
    cursor: pointer;
    padding: 5px;
}

.mission2:hover{
    background-color: rgb(23, 0, 23);
    color: white;
}

.tp3 {
    color: rgb(0, 0, 0);
    border-bottom: 2px solid ;
    margin-right: 45px;
    text-transform: uppercase;
    font-family: 'OstrichSans-Medium';
    font-size: 40px;
    letter-spacing: 2px;
    padding-left: 15px;
    transition: transform 0.4s ease;
    cursor: pointer;
    padding: 5px;
}

.tp3:hover {
    background-color: rgb(23, 0, 23);
    color: white;
}

.mission3 {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 5px;
    margin: 30px;
    margin-bottom: 40px;
}


.block-back {
    width: 380px;
    height: 280px;
    background-color: #4e3580b7;
    margin: 8px;
    justify-content: center;
    align-content: center;
    border-radius: 7px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.block-back:hover {
    background-color: rgba(167, 81, 167, 0.648);
    color: white;
    cursor: pointer;
    transform: scale(1.05); /* Effet d'agrandissement léger au survol */
}

img {
    border-radius: 5px;
    border: solid 4px black;
}