@font-face {
    font-family: 'OstrichSans-Medium';
    src: url('../fonts/OstrichSans-Medium.otf') format('opentype');
}

header {
    background-color: rgb(200, 7, 161);
    font-family: "OstrichSans-Medium";
    font-size: 30px;
    text-align: center;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    background-color: rgb(97, 97, 255);
    border: 4px red solid;
    height: 360px;
    width: 480px;
    margin:auto;
    text-align: center;
    font-family: "Helvetica";
}



.name {
    background-color: rgb(200, 7, 161);
    height: 20px;
    width: 420px;
    margin-bottom: 20px;
    margin-left: 30px;
}

h2 {
    background-color: rgb(200, 7, 161);
    border-radius: 8px;
    padding: 5px;

}

.ramla {
    height: 250px;
    width: 250px;
    margin-top: 15px;
}

.resume {
    width: 420px;
    margin-left: 30px;
}

.introduction {
    width: 420px;
    margin-left: 30px;
}